/*Body*/
.dd {
  background-image:url("../image/4174163.jpg");
  font-family:serif;
  background-color: lightgray;
  background-blend-mode:lighten;

}
.tcolor{
	color:#8e1e32;

}
hr{
	color:#ca1829;
	width:200px;
}
h1,h2,h3,h2,h5{
	color:#8e1e32;
	letter-spacing: 2px;
	text-transform: capitalize;
}
p{
	color:#3c4d65;
	letter-spacing: 2px;
	text-transform: capitalize;
}
.menu{
	margin-left: 120px;
	text-align: center;
	text-transform: capitalize;
}
@media screen and (max-width: 612px){
	.menu{
		margin-left: 5px;
	}
}

/*Nav bar*/
#a{
	width: 120px;
	background-image: url(https://wallpapercave.com/wp/wp8285660.jpg);
	position:fixed;
	height: 100%;
	align-self: center;
	text-align: center;
}


.b{
	opacity: 0.5;
	color: white;
	
}
.b:hover{
	opacity: 1;
	background-color:none;
	color:#8e1e32;
	background-size:auto;
}
.b:active{
	opacity:1;
	background-color:none;
}
@media screen and (max-width: 612px){
	.an{
		display:none;
	}
}
@media screen and (min-width: 612px){
	.ann{
		display:none;
	}
}

/*Header*/
.c{
	letter-spacing: 8px;
	position: relative;
	padding: 5px;
	color: #50677b;

}

@media screen and (max-width: 612px){
	.c{
		font-size: 100%; 
	}
}
#c{
	font-size: 600%;
 letter-spacing: 8px;
 color:#8e1e32;
}
@media screen and (max-width: 650px){
	#c{
		font-size: 300%;
	
	}
}
/*About*/
.menu1{
	padding-left:100px;
	text-align:left;
	padding-right:50px; 
}
@media screen and (max-width: 612px){
	.menu1{
		padding-left:25px; 
	}
}
.bg{
	background-color:hsl(342deg 36% 77%);
	color:#8e1e32;
}
.d{
	padding-left: 120px;
}
/*photos*/
.e{
	width: 800px;
	height: 600px;
	object-fit: contain;

}